{% extends "blog/base.html" %}
{% block content %}
     <h1>About page</h1>
     <p>In the last of the training we have to create a project to submit the company .So I created   a project on Django “Blog” Project.  In this project any user can create his account and post his blog to website. when user creates his account then he have enter the  username ,email and password for his profile as he logged in to the site then profile will we shown to right top to the corner. After post his Blog to the site he can update or delete his own blog. When the account has been created then only that particular user can update his profile like username, image or password.</p>
{% endblock content %}

